<div
  class="columns-6 border-b text-center text-4xl font-bold bg-amber-100 h-12 flex items-center">
  <div class="w-full border-r">RCP ID</div>
  <div class="w-full border-r">Godzina wejścia</div>
  <div class="w-full border-r">Godzina wyjścia</div>
</div>

@for (pairRecord of entryExitPairRecords$ | async; track pairRecord) {
  <div class="columns-6 border-b text-center text-4xl h-12 flex items-center">
    <div class="w-full border-r font-bold">
      {{ pairRecord?.userRcpId }}&nbsp;
    </div>
    <div class="w-full border-r">
      {{ pairRecord?.entryDate | date: 'dd-MM-yyyy' }}
      {{ pairRecord?.entryTime }}&nbsp;
    </div>
    <div class="w-full border-r">
      {{ pairRecord?.exitDate | date: 'dd-MM-yyyy' }}
      {{ pairRecord?.exitTime }}&nbsp;
    </div>
  </div>
}
